
body{
    background-image: url( img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.content {
   /* width: 400px;
   height:260px;
 
   border-radius: 5px;

   background-color:aliceblue;
   padding: 15px;
   margin: 50px auto;
    */
 
        width: 600px;
        margin: 100px auto;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}


.login-form{

    width: 300px;
  
    margin: 0 auto;
}

h1{

    text-align: center;
   color :brown;
}

.group{
   
    margin-bottom: 15px;
   
}

.login-field-icon{
   
    display: inline-block;
    width: 85px;
}

.content2{
    
    text-align: center;
    margin: 14px;
   
}




.btn{
    width: 100px;
    padding: 7px;
    background-color:rgb(44, 61, 134);
    color:rgba(0, 0, 0, 0.897);
    border: 1px solid ;
}